tr{
    text-align: center;
}
p{
    color: rgb(38, 0, 128);
    background-color: rgb(186, 179, 179);
    font-size: 22px;
    text-align: center;
}
h3{
    color: red;
}
footer{
    font-size: 50px;
    color: white;
    background-color: rgb(60, 191, 60);
    text-align: center;
}